{% extends '!layout.html' %}
{% set css_files = css_files + ['_static/css/bootstrap.css'] %} 
{% block htmltitle %}

  <title>ULAKBUS</title>
  {% endblock %}

{% block header %}
 <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Ulakbüs</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">
 </head>

<body id="page-top" data-target=".navbar-fixed-top">

    <div>
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background-color:#004561;">
            <div class="container" style="background-color:#004561;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
 <a href="index.html"><img src="{{ pathto('_static/ulakbus.png', 1) }}" class="logo"></a>

</div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
               <ul class="nav navbar-nav navbar-right">
                    
                    <li>
		<a  href="index.html" style="color:white;">Ana Sayfa</a>
                    </li>
                    <li>
                        <a href="#proje" style="color:white;">Proje Hakkında</a>
                    </li>
                    <li>
                        <a href="http://www.ulakbus.org/wiki/wiki.html" style="color:white;">Belgeler</a>
                    </li>
                     <li>
                        <a href="http://www.ulakbus.org/wiki/developers.html" style="color:white;">Kurulum</a>
                    </li>
                     <li>
                        <a href="topluluk.html" style="color:white;">Topluluk</a>
                    </li>
                     <li>
                        <a href="ne_oluyor.html" style="color:white;">Ne Oluyor ?</a>
                    </li>
                </ul>
            </div>
        </div>
            <!-- Fork me on github icons -->
             <a href="https://github.com/zetaops/ulakbus.org/" target="_blank"><img style="position: absolute; top: 130px; right: 0; border: 0; height:100px;  " src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
        
        </nav> 
    </div> 

<br>
  
<br>
  
  <br>
<br>
<br>
  
    </div> 
{% endblock %}

{% block footer %}
<div class="container text-center">
            <p><b>Copyright © ULAKBUS Bütünleşik Üniversite Sistemi 2015</b></p>
        </div>
{% endblock %}


    <!-- Bootstrap Core JavaScript -->

    <!-- Scrolling Nav JavaScript -->
</body>
</html>

